
<div class="mr-2 ml-2" ng-show="model.showContent">
    {{model.title}}
  <div class="row mb-3">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">The 411</h3>
          <p class="card-text">Below is everythin we've gathered about you from the sources that you selected. Adding or removing any of these data fields can be done in settings.</p>
          <a ui-sref="providers"  class="btn btn-sm btn-primary">Show Sources</a>
        </div>
      </div>
    </div>
  </div>

</div>
