<nav class="navbar navbar-fixed-top navbar-inverse bg-inverse">

  <div class="topnav">

    <div class="logo">
      <i class="fa fa-ioxhost" aria-hidden="true"></i> NuFiddle
    </div>

    <div class="menu">

        <div class="menu-item">
          About
        </div>

        <div class="menu-item" ng-show="model.isAuth">
            Settings
        </div>

        <div class="menu-item" ng-show="!model.isAuth && !model.showLoginForm" ng-click="model.toggleLoginForm()">
            Login
        </div>

        <div class="menu-item" ng-show="model.isAuth && !model.showLoginForm" ng-click="model.logout()">
            Logout
        </div>

        <div class="menu-user" ng-show="model.isAuth">
          {{model.user.un}}
        </div>

        <div class="menu-form fadein fadeout" ng-show="!model.isAuth && model.showLoginForm">

          <form id="userNameForm" class="form-inline">

            <div class="input-group mr-2">
              <i class="fa fa-user-o input-group-addon"></i>
              <input id="unInput" type="text" class="form-control form-control-sm" placeholder="Username" ng-model="model.uninput">
            </div>

            <div class="input-group mr-2">
              <i class="fa fa-key input-group-addon"></i>
              <input id="pwInput" type="password" class="form-control form-control-sm" placeholder="Password" ng-model="model.pwinput">
            </div>

            <button class="btn btn-sm mr-2" ng-click="model.login()">
              login <i class="fa fa-spinner fa-spin" ng-show="model.spinner"></i>
            </button>

            <button class="btn btn-sm mr-2" ng-click="model.toggleLoginForm()">
              hide
            </button>

          </form>

        </div>

    </div>

  </div>

</nav>

<div class="clearfix"></div>

<div class="contatiner fadein fadeout" ng-show="model.alert.active">
  <div class="alert alert-success alert-dismissible col-sm-8 mx-auto text-sm-center" role="alert" ng-click="model.closeAlert()">
    {{model.alert.mesg}}
  </div>
</div>
